<section class="about" id="about">
  <div class="container d-flex justify-content-between flex-column h-100">
    <div class="section-title flex-grow-1">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <h2 data-aos="heading-show" class="text_background">
              Who Am I
              <span class="heading_background">About Me</span>
            </h2>
            <p class="m-0">Get to know me</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section-content flex-grow-1">
      <div class="row align-items-center">
        <div class="col-md-4 mt-5 mt-md-0 text-center" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="150">
          <div class="profile-photo-wrapper">
            <img src="assets/images/profile.png"
                 alt="Konan Oumar Vivien"
                 class="profile-photo img-fluid">
          </div>
        </div>
        <div class="col-md-8 mt-5 mt-md-0" data-aos="fade-left" data-aos-duration="1200" data-aos-delay="300">
          <h3 class="m-0">I'm Konan Oumar</h3>
          <p class="my-4">Full-stack developer specializing in the creation of web applications with Django and mobile applications with Flutter. I enjoy solving complex problems and creating exceptional user experiences.

My approach combines solid technical expertise with a deep understanding of business needs. I always strive to deliver clean, maintainable code and scalable solutions.</p>
          <div class="row">
            <div class="col-lg-6">
              <div class="about-info mb-2">
                <span class="desc">Full Name:</span>
                <span>Konan Oumar Vivien</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-info mb-2">
                <span class="desc">Age:</span>
                <span>21 Years Old</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-info mb-2">
                <span class="desc">Experience:</span>
                <span>3 years</span>
              </div>
            </div>
            <div class="col-lg-6">
            </div>
          </div>
          <div class="button_and_social my-4">
            <div class="row justify-content-center align-items-center">
              <div class="col-xl-6">
                <a href="assets/cv/OUMAR VIVIEN KONAN _ English.pdf" download="Oumar_Konan_CV.pdf" class="btn btn-outline-primary btn-lg">Download CV</a>
              </div>
              <div class="col-xl-6">
              <div class="about-info mb-2">
                <span class="desc">Email:</span>
                <span><a href="mailto:koumarvivien@gmail.com">koumarvivien@gmail.com</a></span>
              </div>
                <ul class="social-icons list-inline mt-4 mt-xl-0">
                  <li class="list-inline-item">
                    <a href="https://www.facebook.com/profile.php?id=100095585340548" target="_blank" rel="noopener">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/oumar-vivien-konan-426109319" target="_blank" rel="noopener">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://github.com/OumarVivienZX" target="_blank" rel="noopener">
                      <i class="fab fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
