<div class="section facts backgound-section" style="background-image: url(https://via.placeholder.com/1920x1080)" data-aos-id="facts">
  <div class="container">
    <div class="row">

      <!-- Years of Experience -->
      <div class="col-lg-4 col-sm-6 mt-3 mt-lg-0">
        <div class="fact-single text-center">
          <div class="fact-icon">
            <span class="mbri-timer"></span>
          </div>
          <div class="fact-info">
            <span class="tmcounter" data-from="0" data-to="3" data-speed="1500">3</span>+
          </div>
          <div class="fact-meta">
            <span>Years Experience</span>
          </div>
        </div>
      </div>

      <!-- Happy Clients -->
      <!-- Supprimé à la demande de l'utilisateur -->

      <!-- Projects Done -->
      <div class="col-lg-4 col-sm-6 mt-3 mt-lg-0">
        <div class="fact-single text-center">
          <div class="fact-icon">
            <span class="mbri-magic-stick"></span>
          </div>
          <div class="fact-info">
            <span class="tmcounter" data-from="0" data-to="3" data-speed="1500">3</span>
          </div>
          <div class="fact-meta">
            <span>Projects Done</span>
          </div>
        </div>
      </div>

      <!-- Creations / Downloads -->
      <div class="col-lg-4 col-sm-6 mt-3 mt-lg-0">
        <div class="fact-single text-center">
          <div class="fact-icon">
            <span class="mbri-save"></span>
          </div>
          <div class="fact-info">
            <span class="tmcounter" data-from="0" data-to="10" data-speed="1500">10</span>
          </div>
          <div class="fact-meta">
            <span>Creations</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
