<section class="blog" id="blog">
  <div class="container d-flex flex-column justify-content-between h-100 ">
    <div class="section-title flex-grow-1">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <h2 data-aos="heading-show" class="text_background">
              My Articles
              <span class="heading_background">Blog</span>
            </h2>
            <p class="m-0">The standard chunk of Lorem Ipsum used since the 1500s</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section-content flex-grow-1">
      <div class="row">

        <!-- Article 1 -->
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="news-item d-flex flex-column h-100">
            <div class="news-cover">
              <img src="assets/images/tips.png" alt="Tips" class="blog-img">
            </div>
            <div class="news-content p-4 flex-grow-1 d-flex flex-column justify-content-between">
              <div>
                <div class="news-title mb-3">
                  <a href="#" class="blog-permalink">
                    <h3>How to write website content.</h3>
                  </a>
                </div>
                <div class="news-meta d-flex flex-row mb-4">
                  <div class="news-meta-single mr-3">
                    <span class="mbri-calendar"></span>
                    <span class="meta-value">11 March, 2022</span>
                  </div>
                  <div class="news-meta-single">
                    <span class="mbri-user"></span>
                    <span class="meta-value">by <a href="#">Konan Oumar</a></span>
                  </div>
                </div>
              </div>
              <div class="readMore">
                <a href="#" class="btn btn-outline-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Article 2 -->
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="news-item d-flex flex-column h-100">
            <div class="news-cover">
              <img src="assets/images/design.png" alt="Design" class="blog-img">
            </div>
            <div class="news-content p-4 flex-grow-1 d-flex flex-column justify-content-between">
              <div>
                <div class="news-title mb-3">
                  <a href="#" class="blog-permalink">
                    <h3>The different discipline of Designers</h3>
                  </a>
                </div>
                <div class="news-meta d-flex flex-row mb-4">
                  <div class="news-meta-single mr-3">
                    <span class="mbri-calendar"></span>
                    <span class="meta-value">29 March, 2023</span>
                  </div>
                  <div class="news-meta-single">
                    <span class="mbri-user"></span>
                    <span class="meta-value">by <a href="#">Konan Oumar</a></span>
                  </div>
                </div>
              </div>
              <div class="readMore">
                <a href="#" class="btn btn-outline-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Article 3 -->
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="news-item d-flex flex-column h-100">
            <div class="news-cover">
              <img src="assets/images/Technologie.png" alt="Technology" class="blog-img">
            </div>
            <div class="news-content p-4 flex-grow-1 d-flex flex-column justify-content-between">
              <div>
                <div class="news-title mb-3">
                  <a href="#" class="blog-permalink">
                    <h3>How Does Technology Change Lives</h3>
                  </a>
                </div>
                <div class="news-meta d-flex flex-row mb-4">
                  <div class="news-meta-single mr-3">
                    <span class="mbri-calendar"></span>
                    <span class="meta-value">15 April, 2023</span>
                  </div>
                  <div class="news-meta-single">
                    <span class="mbri-user"></span>
                    <span class="meta-value">by <a href="#">Konan Oumar</a></span>
                  </div>
                </div>
              </div>
              <div class="readMore">
                <a href="#" class="btn btn-outline-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<style>
.blog-img {
  width: 100%;
  height: 250px;        /* hauteur fixe pour toutes les images */
  object-fit: cover;    /* remplit la zone sans déformer l'image */
  border-radius: 6px;
}

.news-item {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.news-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* garde le bouton "Read More" en bas */
}
</style>
